body {
    background-color: #000000;
    color: whitesmoke;
    font-family: Arial;

}

#main-game {
    float: left;
}

#upgrades {
    float: right;
    margin-right: 50px;
}

#upgrades button {
    width: 100%;
    border: 4px;
    padding: 10px 24px;
    display: block;
}

#upgrades button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

#upgrades button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#main-info {
    text-align: center;
}

#news-container {
    background-color: white;
    color: black;
    margin-left: 200px;
    margin-right: 200px;
    padding: 2px;
    border-radius: 25px;
}

#main-cookie:active {
  transform: translateY(4px);
}

@media screen and (max-width: 800px) {
    #main-info, #main-game, #upgrades {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    #news {
        display: none;
    }
  }
